MESA_VERSION="mesa-17.1.4"
DRM_VERSION="libdrm-2.4.81"

LLVM_INSTALL_PATH="/vol/multicore/llvm-4.0.0"
#LLVM_INSTALL_PATH="$HOME/work/LLVM_4.0.0/install"

WORK_DIR="/data/mesa-coverage"
INSTALL_DIR="$WORK_DIR/install"

NB_CPU=8
